
<div class="text-center">
    <h2>Express template</h2>
    <hr>
    <img style="" src="/img/express.webp" class="img-fluid"><br>
    <br>
    <a href="/account/login" class="btn btn-success">Login</a>
    <a href="/account/signup" class="btn btn-light">Create account</a>
</div>
